html
    body
        a(href="/") Home
        |
        |
        a(href="/publicImages") View Public Images
        |
        |
        a(href="/users") Show users
        |
        |
        a(href="/login") Login
        |
        |
        a(href="/logout") Logout
        |
        |
        a(href="/profile") Profile
        p!= status
        p!= message


