html
    head
        title !{user.username}
        style
            include ../../public/css/styles.css
    body
        a(href="/") Home
        |
        |
        a(href="/publicImages") View Public Images
        |
        |
        a(href="/users") Show users
        |
        |
        a(href="/login") Login
        |
        |
        a(href="/logout") Logout
        |
        |
        a(href="/profile") Profile
        p!= "Username: " + user.username
        br

        form(action='/uploadImage', method='POST', enctype='multipart/form-data')
            div
                | title: 
                input(type='text', name='title', value='')
                br
                | tags: 
                input(type='text', name='tags', value='')
                br
                | image: 
                input#file(type='file',name='photo', multiple)
                br
                input(type='submit', value='Submit')
        br
        div(style = {display:'inline-flex', "flex-wrap":'wrap'})
            for image in images
                a(href="/profile/"+image._id, class = "imgWrapper")
                    h4!= image.title
                    br
                    img(src= "/uploads/"+image._id+".png")

