html
    head
        style
            include ../../public/css/styles.css
    body
        a(href="/") Home
        |
        |
        a(href="/publicImages") View Public Images
        br

        form(action='/uploadImage', method='POST', enctype='multipart/form-data')
            div
                | title: 
                input(type='text', name='title', value='')
                br
                | tags: 
                input(type='text', name='tags', value='')
                br
                | image: 
                input#file(type='file',name='photo', multiple)
                br
                input(type='submit', value='Submit')
        br

