html
    head
        title Users
    body
        a(href="/") Home
        |
        |
        a(href="/publicImages") View Public Images
        |
        |
        a(href="/users") Show users
        |
        |
        a(href="/login") Login
        |
        |
        a(href="/logout") Logout
        |
        |
        a(href="/profile") Profile
        br
        br
        | Users List:
        br
        each user in users
            a(href= "/users/"+user._id) !{user.username}
            br

